---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_API_KEY&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/14/2023 03:42:02
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a67a7ebe635c861e047ef4a621798481
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1686714122,"localtime":"2023-06-13
        21:42"},"current":{"last_updated_epoch":1686713400,"last_updated":"2023-06-13
        21:30","temp_c":12.9,"temp_f":55.2,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":110,"wind_dir":"ESE","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"humidity":71,"cloud":75,"feelslike_c":12.8,"feelslike_f":55.0,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":6.0,"gust_kph":9.7},"forecast":{"forecastday":[{"date":"2023-06-13","date_epoch":1686614400,"day":{"maxtemp_c":19.6,"maxtemp_f":67.3,"mintemp_c":10.9,"mintemp_f":51.6,"avgtemp_c":14.8,"avgtemp_f":58.7,"maxwind_mph":9.6,"maxwind_kph":15.5,"totalprecip_mm":2.6,"totalprecip_in":0.1,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":63.0,"daily_will_it_rain":1,"daily_chance_of_rain":86,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":3.0},"astro":{"sunrise":"05:32
        AM","sunset":"08:29 PM","moonrise":"02:37 AM","moonset":"04:12 PM","moon_phase":"Waning
        Crescent","moon_illumination":"27","is_moon_up":0,"is_sun_up":1},"hour":[{"time_epoch":1686636000,"time":"2023-06-13
        00:00","temp_c":12.3,"temp_f":54.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":333,"wind_dir":"NNW","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.0,"precip_in":0.0,"humidity":86,"cloud":21,"feelslike_c":12.8,"feelslike_f":55.0,"windchill_c":12.8,"windchill_f":55.0,"heatindex_c":12.3,"heatindex_f":54.1,"dewpoint_c":10.0,"dewpoint_f":50.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":3.6,"gust_kph":5.8,"uv":1.0},{"time_epoch":1686639600,"time":"2023-06-13
        01:00","temp_c":12.0,"temp_f":53.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":236,"wind_dir":"WSW","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.0,"precip_in":0.0,"humidity":86,"cloud":19,"feelslike_c":11.9,"feelslike_f":53.4,"windchill_c":11.9,"windchill_[...]
