---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_API_KEY&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/11/2023 03:30:38
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 47e368eae8d8c57a82e0033461cf7dea
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1686454238,"localtime":"2023-06-10
        21:30"},"current":{"last_updated_epoch":1686454200,"last_updated":"2023-06-10
        21:30","temp_c":17.0,"temp_f":62.6,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1018.0,"pressure_in":30.05,"precip_mm":1.1,"precip_in":0.04,"humidity":45,"cloud":75,"feelslike_c":17.0,"feelslike_f":62.6,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":4.7,"gust_kph":7.6},"forecast":{"forecastday":[{"date":"2023-06-10","date_epoch":1686355200,"day":{"maxtemp_c":24.4,"maxtemp_f":75.9,"mintemp_c":12.5,"mintemp_f":54.5,"avgtemp_c":17.0,"avgtemp_f":62.7,"maxwind_mph":16.1,"maxwind_kph":25.9,"totalprecip_mm":3.0,"totalprecip_in":0.12,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":58.0,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":4.0},"astro":{"sunrise":"05:32
        AM","sunset":"08:27 PM","moonrise":"01:25 AM","moonset":"12:44 PM","moon_phase":"Last
        Quarter","moon_illumination":"59","is_moon_up":0,"is_sun_up":1},"hour":[{"time_epoch":1686376800,"time":"2023-06-10
        00:00","temp_c":14.1,"temp_f":57.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":213,"wind_dir":"SSW","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.0,"precip_in":0.0,"humidity":71,"cloud":10,"feelslike_c":14.1,"feelslike_f":57.4,"windchill_c":14.1,"windchill_f":57.4,"heatindex_c":14.1,"heatindex_f":57.4,"dewpoint_c":8.9,"dewpoint_f":48.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.5,"gust_kph":13.7,"uv":1.0},{"time_epoch":1686380400,"time":"2023-06-10
        01:00","temp_c":14.1,"temp_f":57.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":247,"wind_dir":"WSW","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"humidity":69,"cloud":2,"feelslike_c":14.7,"feelslike_f":58.5,"windchill_c":14.7,"windchill_[...]
